body{
    width: 100vw;
    height: 100%;
    text-align: center;
    font-family: arial;
    margin-top: 100px;
}

button{
    background-color: #8cd88c;
    padding: 10px;
    width: 100px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

img{
    width: 40%;
}
.hide {
    display: none;
}
.show {
    display: inline;
}
